# Exclude Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
xsen/

# Ignore logs and temp files
*.log
*.tmp
*.swp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE and editor settings
.vscode/
.idea/
*.iml

# Ignore everything inside Models except model_1_0_2.pt
Models/*
!Models/model_1_0_2.pt

